<% @messages.each do |message| %>
  <div class="message:">
    <h2><a href="/messages/<%= message.id %>"><%=message.author %></a></h2>
    <p>
      <%= message.content %>
    </p>
  </div>
<% end %>

<hr/>
<a href="/messages/new">Post a message... It's FREE(for now)!</a>